.NavBarWrapper{
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100px;
    border-bottom: var(--clrorange) solid 1px;
    z-index: 0;
    background-color: var( --clrNav);
}

.settingsButton{
    position: absolute;
    top: 15px;
    background-color: #F27B87;
    border-radius: 10px;
    right: 0px;
    margin: 10px;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
}
.settingsButton label{
    top: -11px;
    
    left: 0px;
    position: relative;
}
.settingsButton:hover{
    transform: scale(1);
}

.moduleOption{
        position: relative;
        top: -70px;
        margin-left: 90px;
        margin-right: 90px;
        padding: 5px 15px;
        margin: 26px 60px 2px;
        border: rgb(59, 59, 59) solid 1px;
        
        color: rgb(59, 59, 59);
        border-radius: 20px;
        font-size: 17px;
        cursor: pointer;
        transition: 0.5s;
}

.menuIconOpen{
    
    background-color: #F27B87;
    border-bottom: var(--clrInputs);
    border-radius: 10px;
    padding-bottom: 55px;
    margin-bottom: 20px;
}

.navMenuPop{
    width: 82px;
    position: absolute;
    right: -0px;
    top: -30px;
    height: 32px;
    padding-top: 10px;
    /* background-color: red; */
    background-image: linear-gradient(30deg, #EF4A42 0%,  #F27B87 70%);
}


.navMenuCarveLeft{
    width: 60px;
    height: 60px;
    background-color: var(--clrBackground);
    border-radius: 50%;
    position: absolute;
    right: 52px;
    top: -60px;
    z-index: 1;
}



.navMenu {
    position: absolute;
    top: 100px;
    right: 10px;
    width: fit-content;
    padding: 10px;
    background-image:  linear-gradient(30deg, #F68F42 0%, #F48037 10% , #EF4A42 80%, #F27B87 100% );
    border-radius: 25px;
    border-top-right-radius: 0px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    z-index: 1;
}

.navMenuBar{
    position: absolute;
    width: 100%;
    top: 100px;
    background-image:linear-gradient(  30deg , #F68F42 0%, #F48037 15%, #EF4A42, #F27B87 );
    height: 10px;
}


.navMenuOption{
    color: var(--clrNavText);
    font-size: 20px;
    cursor: pointer;
    border-radius: 25px;
    /* put text in the middle  */
    display: flex;
    justify-content: center;
    align-items: center;
    

    background-color: var(--clrBackground);
    width: 200px;
    height: 40px;
    margin: 2px;
    transition: 0.5s;
}

.navMenuOption:hover{
    background-color: var(--clrNavText);
    color: var(--clrNav);
}

.navMenuBackground{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
}

.modeToggle{
    position: absolute;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    width: 35px;
    height: 35px;
    margin: 20px;
    cursor: pointer;
}

.modeIcon{
    fill: white;
    background-color: var(--clrNav);
    
    border-radius: 50%;
    break-inside: avoid;
   
    height: 35px;
    width: 35px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.nightIcon{
    border-color:rgb(0, 0, 0);

}

.dayIcon{
    border-color:rgb(255, 255, 255);
}

