.TokenListTokenContainer .TokenElementWrapper{
    width: 40vw;
    border-bottom: #000000;
    border-radius: 1px;
    padding: 10px;
    margin: 10px;
    border-style:outset
}

.TokenListTokenContainer .TokenElement{
    height: 40px;
    cursor: pointer;
    width: 10vw;
}
.TokenListTokenContainer .scroll-container{
    width: 100%
}



.TokenListTokenContainer .scroll-container > span {
    animation: ListscrollText 5s linear infinite;
    display: inline-block;
    width: fit-content;
    animation-direction: alternate;
  }

@keyframes ListscrollText {
    0% {
      transform: translateX(10px);
    }
    100% {
        transform: translateX(calc(-100% + 50px  ));
    }
  }

.TokenListTokenContainer .TokenToolTip{
    overflow: hidden;
    width: 90%;
}

.TokenListTokenContainer .TokenElement:hover{
    background-color: #f6f6f6;
}

.TokenListTokenContainer .TokenToolTip:hover{
    background-color: #f6f6f6;
}


.TokenListTokenContainer .tokenElementName{
    color: #000000;
    align-items: center;
    text-align: center;
    width: 40px;
}

.TokenListTokenContainer .TokenElementText{
    color: #000000;
    align-items: center;
    text-align: center;
    width: 40%;
}

.TokenListTokenContainer .TokenThumbnail{
    height: 90%;
    margin-right: 10px;
    width: auto;
}

.TokenList{
/* make 2 colums */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
    width: 100%;
}

.TokenLisWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    width: 100%;
}


   
.TokenListTokenContainer .TokenElementWrapper{ 
    word-break: break-word;
}

@media only screen and (max-width: 767px) {
    .TokenList{
        /* make 2 colums */
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 10px;
            padding: 10px;
        }

        .TokenListTokenContainer .TokenElementWrapper{
            width: 75vw;
            border-bottom: #000000;
            border-radius: 1px;
            padding: 10px;
            margin: 10px;
            border-style:outset;
            word-break: break-word;
        }

        .TokenLisWrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width:  80vw;
            height: 100%;
        }
}


.tokenIconButton label{
    font-size: 25px;
    top: -11px;
    left: -3px;
    font-size: 19px;
    white-space: nowrap;
    position: relative;
    cursor: pointer;
}

