.DelegationCenter{
  align-items: center;
  display: flex;
  flex-direction: column;
    z-index: 0;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  .currentDelegation{
    margin-top: 50px;
    margin-bottom: 20px;
    border: var(--clrorange) 1px solid;
    border-radius: 15px;
    padding: 15px;

  }

  .currentDelegation .PoolElementWrapper{
    margin-top: 20px;
    margin-bottom: 20px;
  }
.loadingIcon {
    width: 200px;
    height: 200px;
    z-index: -99999;
    animation: rotation 5s linear infinite;
  }
  
