.WalletListContainer{
    align-self: flex-start;
    font-size: 18px;
}

.multisigWalletListContainer{
    position: relative;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    z-index: -15;
    width: 150px;
    margin-left: 8px;
}

.MWalletList{
    margin: 10px;
    width: 200px;
    height: auto;
    
}

.walletSettingsIcon{
    cursor: pointer;
}

@media (max-width: 768px) { 
    
.MWalletList{
    max-width: 50px;    
}
}
 
.addNewWalletButton{
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: var(--clrorange) 0px 0px 5px 0px;
    font-size: 12px;
    height: 20px;
    width: 25px !important;
    min-width: 25px;
    max-width: 25px;
    transition: 0.5s;
    border: var(--clrorange) solid 1px;
    color: black !important;
    cursor: pointer;



}


.addWalletButtonHighlight{
    width: 30px;
    height: 30px;
    background-color: white;
    border: 3px solid transparent;
    border-image: conic-gradient(
        from var(--angle),
        rgba(255, 153, 0, 1) 0deg 90deg,
        rgba(255, 153, 0, 0) 90deg 360deg
      )
      1 stretch;
    animation: rotate 2s linear infinite;
    transition: transform 0.3s ease-in-out;
}
  
@supports (background: paint(houdini)) {

    @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
    }

    @keyframes rotate {
    to {
        --angle: 360deg;
    }
    }}

.addNewWalletButton:hover{
    color: var(--clrorange);
    transform: scale(1.5);
}
  
    




