.modalBackground {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(200, 200, 200);
  position:fixed;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
    
  }

.modalContainer {
  width: max-content;
  height: max-content;
  border-radius: 1vw;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  position: absolute;
  top:10%;
  }

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 0%;
  margin-bottom: -10%;
  font-size: 18px;
  }
  
.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
  margin-top: 39px;
  margin-right: 2px;
  margin-bottom:40px;
  }
  
.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
  }

.rootElement {
  border: var(--clrorange) solid 1px;
  border-radius: 5px;
  padding: 7px;
  margin: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

.cardSelect {
  margin-top: -34px;
   }

.rootRoot .rootElement {
  margin-top: 14px;
   }

.rootRoot > .rootElement > .cardSelect{
    margin-top: -16px;
   }

.rootRoot > div:first-child{
  margin-top: 13px;
   }

.rootRoot {
    height: fit-content;
    position: relative;
   }

input[type="text"] {
  padding: 1px 3px;
  border: none;
  border-bottom: solid black 1px;
  height: 22px;
  padding-left: 5px;
  margin-top: 25px;
  font-size:17px;
  position:relative;
}

input:focus + label, input:valid + label{
  font-size: 12px;
  color: #777777;
  top: 8px;
  left:1px;
  background: #ffffff;
  padding: 0px 5px 0px 5px;
}

.input_wrap {
  width:auto; 
  height:auto; 
  position:relative;
}

.input_wrap label {
  font-family:arial;
  font-size:20px;
  color: #777777;
  position: absolute;
  top: 23px;
  left: 6px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
  pointer-events: none;

}

input[type="text"]:focus {
  outline: none;
}
 
.createWalletAddress{
  width: 950px;
}

.createWalletName{
  width: 150px;
  margin-right: 5px;
}

.sigWrap div{
  display: inline-block;
}

.walletName label{
  top: 23px;
  left: 27px;
}
.beforeAndAfterSlot label{
  top: -2px;
  left: -210px;
  position: relative;
}

.beforeAndAfterSlot input:focus + label, .beforeAndAfterSlot input:valid + label{
  left: -215px;
  top: -23px;
  position: relative;
}

.beforeSlot > p {
  font-size: 10px;
  margin-bottom: 0px;
}

.beforeSlot > p> span {
  color:red;
}

.walletName input{
  text-align: center;
  margin-bottom: 15px;
}

.walletName input:focus + label, .walletName input:valid + label{
  left: 55px;
}

.atLeast > input:first-child{ 
  margin-bottom: 4px;
  margin-top: 16px;
}

.btn {
  border: var(--clrorange) solid 1px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: var(--clrorange) 0px 0px 5px 0px;
  border-radius: 20px;
  width: fit-content;
  color: var(--clrorange);
  padding:3px 9px;
  font-size: 12px;
  transition: 0.5s;
  position:relative;
}

.btn:hover{
  letter-spacing: 0.25em;
  background-color: rgba(255, 255, 255, 1);
}

.modalContainer .body {
  flex: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  text-align: center;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.WalletCreateColor1{
  background-color: rgb(236, 236, 236);
}

.WalletCreateColor0{
  background-color: rgb(255, 242, 222);
}

.WalletCreateTypesig,
.WalletCreateTypebefore,
.WalletCreateTypeafter{
  background-color: white;
}