.overviewTokensContainer{
    margin: 8px;
    padding: 21px 10px;
    border: 5px;
    border-style: ridge;
    
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* grid-auto-rows: 1fr;
    grid-template-columns: repeat(3, 1fr); */
    /* place-items: center; */
    align-items: center; 
    justify-content: space-between;
    /*align-content: space-between; */

    /* display: flex;
    flex-flow: row wrap;
    flex-shrink: 100;
    justify-content: flex-start; */
    /* gap: 30px 0px; */
}

/* .overviewTokenContainer{
    width: 403px;
    height: 87px;
    margin: 10px;
    border: 1px;
    border-style:inset;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
} */

/* .overviewTokenContainer img{
    width: 66px;
    height: auto;
    
} */
.st0{fill:#000000;}
.settingsIcon{
    height: 25px;
    width: 25px;
}
