.overviewTokensContainer{
    margin: 8px;
    padding: 0px;
    display: flex;
    flex-flow: row wrap;
    flex-shrink: 100;
    border: 5px;
    border-style: ridge;
    justify-content: space-between;
}

.overviewTokenContainer{
    width: 180px;
    height: 60px;
    margin: 10px;
    border: 1px;
    align-self:center;
    border-style:inset;
    overflow: hidden;
    align-self: center;
}

.overviewTokenContainer img{
    size: 15px;
    
}