.txDetailsInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  width: 45vw;
  margin-right: 10px;
  overflow: hidden;
}

.pendingTxTokenContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  width: 100%;
}

.txDetailsInput{
  margin-bottom: 5px;
  width: 100%;
  /* add a light boarder */
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
  padding: 5px;
}

.txDetailsOutputs{

  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 45vw;
}

.txDetailsInputsOutputs{
  display: flex;
  margin-left: 10px;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
  width: 100%;
}

.txDetailsOutput{
  margin-bottom: 5px;
  width: 100%;
  /* add a light boarder */
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
  padding: 5px;
}
.txDetailsAddressMine{
  color: #00a100;
}

.txDetailsAddressNotMine{
  color: #da0000;
}