.Testnet-banner{
    background-color: red;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    text-align: center;
    font-size: larger;
    /* make text bold */
    font-weight: 600;
    font-size: 27px;
    color: #ffffff;
    font-weight: 400;
    line-height: 1.5;
    padding-bottom: 40px;
    z-index: 99999;
}

.Testnet-banner .commonBtn{
    margin: 5px;
    color: #fffafa;
    z-index: 999990;
}