.TokenListTokenContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    height: 40px;
    border-bottom: 1px solid #e6e6e6;
    cursor: pointer;
}