.TokenElement{
    width: inherit;
    height: inherit;
    overflow: hidden;

}

.TokenThumbnail{
    align-self: left;
    height: 20px;
}

.tokenElementName{
    width: inherit;
    overflow: hidden;
}

.tokenElementNameText{
    
    overflow: hidden;
    white-space: nowrap;
}