.TransactionHistory{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    word-break: break-word;

}

.transactionHistoryAdaBalance{
    color: rgb(0, 175, 0);
    font-weight: bold;
}

.transactionHistoryAdaBalanceNegative{
    color: red;
    font-weight: bold;
}

.transactionHistoryTokenBalancePositive{
    color: rgb(0, 175, 0);
    font-weight: bold;
}

.transactionHistoryTokenBalanceNegative{
    color: red;
    
}

.transactionHistoryItem{
    margin: 10px;
    border: 2px;
    border-style: groove;
    border-radius: 6px;
}

.transactionHistoryTokenBalance{
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.TransactionHistoryLoadMore{

    padding: 5px 15px;
    margin: 26px 60px 2px;
    border: rgb(59, 59, 59) solid 1px;
    background-color: transparent;
    color: rgb(59, 59, 59);
    border-radius: 20px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.5s;
}

.TransactionHistoryLoadMore:hover{
    background-color: rgb(59, 59, 59);
    color: white;
}