.transactionHistoryAdaBalance{
    color: rgb(0, 175, 0);
    font-weight: bold;
}

.transactionHistoryAdaBalanceNegative{
    color: red;
    font-weight: bold;
}

.transactionHistoryTokenBalancePositive{
    color: rgb(0, 175, 0);
    font-weight: bold;
}

.transactionHistoryTokenBalanceNegative{
    color: red;
    
}
.transactionHistoryItem{
    margin: 10px;
    border: 2px;
    border-style: groove;
    border-radius: 6px;
}
 
