.WalletConnector{
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end; */
    position: fixed;
    top:0px;
    right: 0px;
    margin: 10px;
}

.connectorSettings{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    margin: 10px;
}

.connectedWalletImg{
    width: 30px;
    height: 30px;
    margin: 10px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
    border: 0;
    border-radius: 5px;
    padding: 5px 10px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.connectedWalletImg:hover{
    transform: scale(1.7);
    box-shadow: 0 0 8px var(--clrorange);
}

.settings_svg__settingsImage,
.connect_svg__connectImage,
.disconnect_svg__disconnectImage,
.change_svg__changeImage,
.load_svg__loadImage,
.download_svg__downloadImage,
.delete_svg__deleteImage,
.expand_svg__expandImage,
.download_svg__downloadImage,
.load_svg__loadImage{
    width: 100%;
    height: 100%;
}

