 .modalContainer .walletOptionBtn{
    background-color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    color: white;
    margin: 5px;
    padding: 7px 15px 7px  15px;
    border-radius: 12px;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
 }

  .modalContainer .walletOption{
    width: 90%;
    cursor: pointer;
  }
  
  .modalContainer .walletOptionBtn:hover{
    color: rgb(0, 0, 0);
    background-color: white;
    border: 1px;
    border-style: solid;
  }
  
  
  .modalContainer .walletOptionImg{
    height: 55px;
  }
.walletPickerTitle {
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
  }

  .walletPickerBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 5px;
    margin-right: 50px;
    width: 35vw;
    height: 100%;
  }