.WalletListContainer{
    position: fixed;
    top:0px;
    left: 0px;
    margin: 10px;
}

.MWalletList{
    margin: 10px;
    height: auto;
}

.addNewWalletButton{
    height: inherit;
    background-color: white;
    border: 3px solid transparent;
    border-image: conic-gradient(
        from var(--angle),
        rgba(255, 153, 0, 1) 0deg 90deg,
        rgba(255, 153, 0, 0) 90deg 360deg
      )
      1 stretch;
    animation: rotate 2s linear infinite;
    transition: transform 0.3s ease-in-out;

}
  
@supports (background: paint(houdini)) {

    @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
    }

    @keyframes rotate {
    to {
        --angle: 360deg;
    }
    }}

.addNewWalletButton:hover{
    color: var(--clrorange);
    transform: scale(1.5);
}
  
    




