.walletImportModalContainer{
    width: 800px;
    background-color: white;
    height: fit-content;
    align-items: center;
    border-radius: 10px;
}

.ImportWalletJson{
    width: 100%;
    height: 100%;
    align-items: left;
    position: relative;
    overflow: hidden;
}

.ImportWalletJsonInner{
    text-align: left;
    align-items: left;
}