 .modalContainer .walletOptionBtn{
    background-color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    color: white;
    margin: 5px;
    padding: 7px 15px 7px  15px;
    border-radius: 12px;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
 }

  .modalContainer .walletOption{
    width: 85%;
    align-self:  start ;
    cursor: pointer;
  }
  
  .modalContainer .walletOptionBtn:hover{
    color: rgb(0, 0, 0);
    background-color: white;
    border: 1px;
    border-style: solid;
  }
  
  
  .modalContainer .walletOptionImg{
    height: 55px;
  }
