.mainTab{
    border: 0;
    background-color: transparent;
    border-bottom: 3px solid rgb(171, 171, 171, 0.5) ;
    cursor: pointer;
    margin: 5px 5px;
    padding: 2px 15px;
    font-size: 18px;
    
}

.mainTabSelected{
    border-bottom: 3px solid var(--clrorange);
}

.mainTabPendingTx{
    box-shadow: 1px 1px 2px 2px rgba(226, 230, 43, 0.24);
}

.pendingTxNumber{
    background-color: var(--clrorange);
    align-self: top;
    color: var(--clrwhite);
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 10px;
    width: 9px;
    position: static;

}