.createTxRecipientContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    /* create boarder that looks like it hovers over the page */
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    height: 100%;

}

.addressWrap label{
    font-size: 25px;
}

.addressWrap input[type="text"] {
    margin: 10px;
  }

.CreateTransactionContainer{
    
    width: 100%;
    height: fit-content;
}

.CreateTxTokenContainer .TokenElement {
    display: flex;
    flex-direction: row;
    height: 70px;
}

.CreateTxTokenContainer .tokenElementAmount{
    /* hide */
    display: none;
}

.CreateTxTokenContainer .tokenElementtooltip{
    /* hide */
    display: none;
}

.CreateTxTokenContainer .TokenThumbnail{
    /* hide */
    height: 100%;
    width: auto;
}

.createTxADAInputlabel{
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.createTxADAInputField input{
    height: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 10px;    
}



.createTxAddressInputField{
    width: 80vw;
    height: 100%;
    margin-bottom: 10px;
    /* remove line under input */
 
    
}

.address_wrap {
    width:auto; 
    height:auto;
  }
  
  .address_wrap label {
    font-family:arial;
    font-size:20px;
    color: #777777;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
    pointer-events: none;
  }

.CreateTxSelectedToken{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 440px;
    height: 80px;
    margin: 10px;
    padding: 5px;
    
    border: #cecccc;
    border-radius: 5px;
    border-width: 2px;
    border-style: outset;

}
.CreateTxSelectedToken .TokenThumbnail{
    height: 100%;
    margin: 10px;
    width: auto;
}

.sendInputInvalidValidAddress {
    border: none;
    border-bottom: 1px solid red;
    border-radius: 0px;
}

.recipientButton label{
        top: 10px;
        left: 10px;
        font-size: 19px;
        white-space: nowrap;
        cursor: pointer;
}

.recipientButton{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 10px;
    padding: 12px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.deleteRecipientWrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: right;
    width: 100%;

}
.deleteRecipient{
    /* move to upper right corner */
    align-self: flex-end;
    border: none;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.sendInputValidAddress{
    border: none;
    border-bottom: 1px solid green;
    border-radius: 0px;
  }

.addRecipientWraper{
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
    background-color: white;
    border: 0;
    
    height: 30px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    align-self: center;
    
    padding: 10px;
    transition: transform 0.3s ease-in-out;
}

.addRecipientWraper:hover{
    transform: scale(1.1);
    background-color: #faf4ee;
}

.deleteTokenButton{
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
  .createTxSelectedTokenList{
    display: flex;
    flex-direction: row;
    /* make a new row when adding many items */
    flex-wrap: wrap;
    
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 100%;
    margin-bottom: 10px;
  }

  .tokenAmount {
    display: flex;
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 10px;
  }
  
  .tokenAmount input {
    flex: 1;
    border: none;
    outline: none;
  }
  
  .maxButton {
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    color: rgb(1, 173, 173);
    transition: transform 0.3s ease-in-out;
    width: 50px;
  }