.WalletConnector{
    position: fixed;
    top:0px;
    right: 0px;
    margin: 10px;
}

.settingsButton{
    background-color: transparent;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
    color: var(--clrwhite);
    border: 0;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.settings_svg__settingsImage{
    width: 100%;
    height: 100%;
}

.connectButton{
    background-color: transparent;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
    color: var(--clrwhite);
    border: 0;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.connect_svg__connectImage{
    width: 100%;
    height: 100%;
}