.mainTab{
    border: 0;
    background-color: transparent;
    border-bottom: 3px solid rgb(171, 171, 171, 0.5) ;
    cursor: pointer;
    margin: 5px 0px;
    padding: 2px 15px;
    font-size: 18px;
}

.mainTabSelected{
    border-bottom: 3px solid var(--clrorange);
}