 .modalContainer .walletOptionBtn{
    background-color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    color: white;
    margin: 5px;
    padding: 7px 15px 7px  15px;
    border-radius: 12px;
    flex-direction: row;
    justify-content: space-between;
 }

  .modalContainer .walletOption{
    width: 70%;
    align-self:  center ;
  }
  
  
  .modalContainer .walletOptionImg{
    height: 55px;
  }
