
.MWalletList{
    margin: 10px;
    height: auto;
    
}

@media (max-width: 768px) { 
    
.MWalletList{
    max-width: 50px;    
}
}
 
.addNewWalletButton{
    height: inherit;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: var(--clrorange) 0px 0px 5px 0px;
    font-size: 12px;
    transition: 0.5s;
    border: var(--clrorange) solid 1px;
    color: var(--clrorange);
    cursor: pointer;
}

.addWalletButtonHighlight{
    height: inherit;
    background-color: white;
    border: 3px solid transparent;
    border-image: conic-gradient(
        from var(--angle),
        rgba(255, 153, 0, 1) 0deg 90deg,
        rgba(255, 153, 0, 0) 90deg 360deg
      )
      1 stretch;
    animation: rotate 2s linear infinite;
    transition: transform 0.3s ease-in-out;

}
  
@supports (background: paint(houdini)) {

    @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
    }

    @keyframes rotate {
    to {
        --angle: 360deg;
    }
    }}

.addNewWalletButton:hover{
    color: var(--clrorange);
    transform: scale(1.5);
}
  
.walletListNotFound href{
    color: blue;
    cursor: pointer;

}

.Overlay{
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1000;
}


.tokenWalletSelectedEmpty{
    height: 100px;
    position: relative;
    position: left;
}
.tokenWalletListContainer{
    overflow-y: scroll;
    border: 1px double var(--clrorange);
    max-height: 70vh;
    background: white;
    &::-webkit-scrollbar {
        width: 10px; /* Width of the scrollbar */
      }
    
      &::-webkit-scrollbar-thumb {
        background: #888; /* Color of the scroll thumb */
        border-radius: 5px; /* Rounded corners */
      }
    
      &::-webkit-scrollbar-thumb:hover {
        background: #555; /* Color of the thumb on hover */
      }
    
      /* For Firefox */
      scrollbar-color: #888 #f0f0f0; /* thumb and track color */
      scrollbar-width: thin;     
}

.tokenWalletList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 450px;
    height: fit-content;
    background-color: rgb(255, 255, 255);
   
    justify-content: space-between;
    /* 3 items per row */


}

.TokenThumbnailElement {
    height: 140px;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px outset var(--clrorange);
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
}

.tokenWalletSelected .TokenThumbnail{
    height: 50px;
    width: 50px;
    margin: 10px;;
    margin-bottom: 0px;
    margin-top: 0px;
    border-radius: 10px;
    
}
.tokenWalletSelected .TokenThumbnailElement{
    height: 100px;
    width: 80px;
    background-color: rgba(255, 255, 255, 0.7);
}


.tokenWalletList .TokenThumbnail{
    height: 100px;
    width: 90px;
    margin: 10px;
    border-radius: 10px;
    
}
.tokenWalletSelected .TokenThumbnailName{
    font-size: 12px;
    font-weight: 600;
    margin-top: 0px;
    width: 90%;
    max-width: 100px;
    overflow: hidden;
}


.tokenWalletList .TokenThumbnailName{
    font-size: 14px;
    font-weight: 600;
    margin-top: 0px;
    width: 100px;
    max-width: 100px;
    overflow: hidden;
}

@media only screen and (max-width: 767px) {

    .tokenWalletList{
        max-width: 90vw;
    }
    .TokenThumbnailElement {
        height: 80px;
        width: 70px;
        font-size: 10px;
        
    }
    .tokenWalletList .TokenThumbnailName{
        font-size: 10px;
        font-weight: 200;
        top: 0px;
    }
    
.tokenWalletList .TokenThumbnail{
    height: 50px;
    width: 50px;
}

.tokenWalletSelected .TokenThumbnail{
    height: 30px;
    width: 30px;}
    .tokenWalletSelected .TokenThumbnailElement{
        height: 65px;
        width: 50px;
        background-color: rgba(255, 255, 255, 0.7);
    }
    .tokenWalletSelected .TokenThumbnailName{
        font-size: 10px;
        font-weight: 200;
        top: 0px;
    }
}