body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    width: 350px;
    height: 500px;
  }
  

  
  h1 {
    color: #333;
    align-self: center;
  }
  
  p {
    color: #666;
  }
  
  button {
    color: #fff;
    border: none;
    cursor: pointer;
  }
  

  