.modalBackground {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(200, 200, 200, 0.438);
  position:fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  }

.createWalletModalTitle {
  font-size: 42px;
  font-weight: bold;
  } 

.modalContainer {
  width: max-content;
  max-height: 85vh;
  overflow-y: scroll;
  border-radius: 1vw;
  background-color: var(--clrModal);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: fixed;
  top:75px;
  }

  .modalContainer::-webkit-scrollbar {
    display: none;
  }

.scriptHash {
  width: 90%;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: -37px;
  font-size: 18px;
  align-self: center;
  width: fit-content;
  }
  
.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  margin-right: 2px;
  }
  
.titleCloseBtn button {
  background-color: var(--clrModal);
  border: none;
  font-size: 25px;
  cursor: pointer;
  }

.rootElement {
  border: var(--clrorange) solid 1px;
  border-radius: 5px;
  padding: 7px;
  margin: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
  }
.nftInfo{
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.nftHolderInput{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

  .policy {
    flex-direction: row;
    align-items: center;
    align-content: center;
  }

.policy input[type="text"] {
  border: solid green 1px;
  width: 25vw;
}

  .nftHolder {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
  }

  .policyValid {
    border: solid green 1px;
  }

  .policyInvalid {
    border: solid red 1px;
  }

  .nftHolder input {
    margin-bottom: 10px;
    width: 100%;
  }
.cardSelect {
  margin-top: -34px;
   }

.rootRoot .rootElement {
  margin-top: 14px;
   }

.rootRoot > .rootElement > .cardSelect{
    margin-top: -16px;
   }

.rootRoot > div:first-child{
  margin-top: 13px;
   }

.rootRoot {
    height: fit-content;
    position: relative;
   }

input[type="text"]:not(.createWalletAddress){
  border-bottom: solid black 1px;
}

.invisibleIcon{
  width: 30px;
  height: 17px;
  visibility: hidden;
}

.noticeIcon{
  width: 30px;
  height: 17px;
}


input[type="text"] {
  padding: 1px 3px;
  border: none;
  height: 22px;
  padding-left: 5px;
  margin-top: 25px;
  font-size:17px;
}


input:focus + label, input:valid + label{
  font-size: 12px;
  color: #777777;
  top: 8px;
  left:1px;
  background: var(--clrInput);
  padding: 0px 5px 0px 5px;
}

.input_wrap {
  width:auto; 
  height:auto; 
  position:relative;
}

.input_wrap label {
  font-family:arial;
  font-size:20px;
  color: #777777;
  position: absolute;
  top: 23px;
  left: 6px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
  pointer-events: none;

}

.inputInvalidValidAddress {
  border: none;
  border-bottom: 1px solid red;
  border-radius: 5px;
  }

.inputValidAddress{
  border: none;
  border-bottom: 1px solid green;
  border-radius: 5px;
}

input[type="text"]:focus {
  outline: none;
}
 
.createWalletAddress{
  width: 75vw;
}

.createWalletName{
  width: 12vw;
  margin-right: 5px;
}

.sigWrap div{
  display: inline-block;
}

.walletName label{
  top: 23px;
  left: 27px;
}
.beforeAndAfterSlot label{
  top: -2px;
  left: -210px;
  position: relative;
}

.beforeAndAfterSlot input:focus + label, .beforeAndAfterSlot input:valid + label{
  left: -215px;
  top: -23px;
  position: relative;
}

.beforeSlot > p {
  font-size: 10px;
  margin-bottom: 0px;
}

.beforeSlot > p> span {
  color:red;
}

.walletName input{
  text-align: center;
  margin-bottom: 15px;
}

.walletName input:focus + label, .walletName input:valid + label{
  left: 55px;
}

.atLeast > input:first-child{ 
  margin-bottom: 4px;
  margin-top: 16px;
  width: 40px;
}



.btn {
  border: var(--clrorange) solid 1px;
  box-shadow: var(--clrorange) 0px 0px 5px 0px;
  border-radius: 20px;
  width: fit-content;
  color: var(--clrorange);
  background-color: var(--clrBackground);
  padding:3px 9px;
  font-size: 12px;
  transition: 0.5s;
  position:relative;
}

.btn:hover{
  letter-spacing: 0.25em;
  background-color: var(--clrorange);
}

.modalContainer .body {
  flex: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  text-align: center;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.WalletCreateColor1{
  
  background-color: var(--clrWalletCreate1)
}

.WalletCreateColor0{
  background-color: var(--clrWalletCreate2)
}

.WalletCreateTypesig,
.WalletCreateTypebefore,
.WalletCreateTypeafter{
  background-color: var(--clrBackground);
}

@media (max-width: 768px) { 
  .createWalletAddress{
    width: 70vw;
  }

  .createWalletName{
    width: 70vw;
  }

  .sigWrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .sigWrap div{
    display: block;
  }
  .modalContainer{
    margin: 0px;
    padding: 0px;
  }

  .titleCloseBtn {
    position: relative;
    right: 10px;
    margin-right: 0px;
  }

  .modalContainer {
    width: 99vw;
  }

  .beforeAndAfterSlot{
    display: flex;
    flex-direction: column;
  }

  .beforeAndAfterSlot input{
    width: 90%;
    text-align: center;
    align-self: center;
  }

  .beforeAndAfterSlot label{
    /* hide; */
    top: -2px;

    left: -200px;
  }

  .WalletCreateTypebefore .deleteBtn{
    position: relative;
    right: 0px;
    top: 0px;
    align-self: end;
  }

  .beforeAndAfterSlot input:focus + label, .beforeAndAfterSlot input:valid + label{
    left: 10px;
    top: -55px;
    width: fit-content;
    position: relative;
  }

  .WalletCreateTypebefore{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

  }
  

  
}