.App {
  text-align: center;
  /* height: 87vh; */
}

.Json_input_box{
  height: 700px;
  width: 550px;
}

.WalletInner{
  display: flex;
  height: 100%;
  flex-direction: row;
}

.WalletMain{
  margin: 20px;

}
.addWalletButton{
  width: 100%;
  bottom: 0;
}
.MWalletList{
  width: 20vw;
  border-style:groove;
  height:inherit
}

.WalletMain{
  align-items: center;
  width:100%;
}

.MWalletThumb {
  color: rgb(0, 0, 0);
  height: 50px;
  width: 90%;
  border-style: double;
  overflow: hidden;
  
}
.MWalletThumb:hover{
  color: rgb(51, 38, 226);
  cursor:pointer
}



.pendingTx_signer{
  color:rgb(131, 60, 107);
  margin: 20px;
}

.pendingTx_signer_signed{
  color: rgb(15, 158, 15);
}

