.App {
  text-align: center;
  /* height: 87vh; */
}

.Json_input_box{
  height: 700px;
  width: 550px;
}

.WalletInner{
  display: flex;
  height: 100%;
  flex-direction: row;
}

.WalletMain{
  margin: 20px;
}

.WalletMain{
  align-items: center;
  width:100%;
}

.tooltip:hover::after{
  content: attr(data-tooltip);
  position:absolute;
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.116);
}


.pendingTx_signer{
  color:rgb(131, 60, 107);
  margin: 20px;
}

.pendingTx_signer_signed{
  color: rgb(15, 158, 15);
}

